<div class="lineactivate" style="overflow:hidden;" id="source_<%=source.id%>" onMouseover="<%=remote_function(:url => other_recipes_sources_path(:id=>source.id), :method=> 'get' )%>">
  <div class="title"><%=link_to source.title, source_path(source.id)%></div>
  <div class="author"><%=source.author%></div>
  <div class="rating">
    <%= ratings_for source, :static %>
  </div>
  <div class="delete">
    <%=link_to_remote image_tag('/images/close_table.png', :title=>"Delete"), 
              :url=>source_path(source), :method=>"delete", :confirm=>"Are you sure ?"%>
  </div>
</div>