<% remote_form_for Comment.new do |f| %>
  <%= f.error_messages %>
  <% if @source %>
    <%= f.hidden_field 'commentable_type', :value => @source.source_type %>
    <%= f.hidden_field 'commentable_id', :value => @source.id %>
  <% elsif @recipe %>
    <%= f.hidden_field 'commentable_type', :value => "recipe" %>
    <%= f.hidden_field 'commentable_id', :value => @recipe.id %>
  <% end %>
  <%= f.text_area :comment, {:rows=>"5", :cols=>"92"}%>
  <div class="btn_addcomment">
    <%= f.submit "" %>
  </div>
<% end %>
