<div class="lineactivate" style="overflow:hidden;" id="recipe_<%=recipe.id%>">
  <div class="title"><%=link_to recipe.title, recipe_path(recipe.id)%></div>
  <div class="author"><%=recipe.author%></div>
  <div class="rating">
    <%= ratings_for recipe, :static, {:dimension => :difficulty} %>
  </div>
  <div class="delete">
    <%=link_to_remote image_tag('/images/close_table.png', :title=>"Delete"), 
              :url=>recipe_path(recipe), :method=>"delete", :confirm=>"Are you sure ?"%>
  </div>
</div>