<div class="menu_global" style="background:url(/images/my_k_2.png) no-repeat; position:absolute; padding-top:99px; padding-left:120px; width:192px; height:397px; margin:-4px 0 0 -88px;">
<%if controller.controller_name == "users"%>
  <div class="cook_menu" style="margin-bottom:12px;">
    <%=link_to image_tag('/images/cook_menu.png'), user_path(current_user)%>
  </div>
  <div class="family_menu" style="margin-bottom:20px;">
    <%=link_to image_tag('/images/friends_menu.png'), "#"%>
  </div>
  <div class="shelves_menu" style="margin-bottom:18px;">
    <%=link_to image_tag('/images/shelves_menu.png'), books_path%>
  </div>
  <div class="my_menus_link" style="margin-bottom:23px;">
    <%=link_to image_tag('/images/my_menus.png'), "#"%>
  </div>
<%elsif controller.controller_name == 'sources' || 'recipes'%>
  <div class="chef_menu" style="margin-bottom:12px;">
    <%=link_to image_tag('/images/cook.png'), user_path(current_user)%>
  </div>
  <div class="friends_menu" style="margin-bottom:15px;">
    <%=link_to image_tag('/images/friends_menu.png'), "#"%>
  </div>
  <div class="shelves_menu_marked" style="margin-bottom:12px;">
    <%=link_to image_tag('/images/shelves_menu_mark.png'), books_path%>
  </div>
  <div class="my_menus_link" style="margin-bottom:23px;">
    <%=link_to image_tag('/images/my_menus.png'), "#"%>
  </div>
<%end%>