<div class="primary_apresentation" style="padding:44px 0 0 230px;">
  <div class="portrait_image_about">
    <%if @user.avatar?%>
      <%= image_tag @user.avatar.url(:small) %>
    <%else%>
      <%=image_tag "/images/no-image.jpg"%>
    <%end%><br/>
    <%=link_to "Edit Profile", edit_user_path(@user)%>
  </div>
  <div class="title_name">
    <%=@user.name%>
  </div>
  <div class="user_about">
    <span class="title_minor">State:</span>
    <span class="content_minor"><%=@user.state%></span>
  </div>
  <div class="user_about">
    <span class="title_minor">Country:</span>
    <span class="content_minor"><%=@user.country%></span>
  </div>
  <div class="user_about">
    <span class="title_minor">Gender:</span>
    <span class="content_minor"><%=@user.sex%></span>
  </div>
</div>

<div class="swirl_vector"><img src="/images/swirl_vegetables.png" /></div>
<div class="title_about_me">About me:</div>
<div class="content_about_me"><%=@user.about_me%></div>